* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}


/* HEAD */


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0B486B;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.topnav li {float: right;}
ul.topnav li.usuario {
    float: left;
    background-color: #3B8686;
}
ul.topnav li.ex {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em 4em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.5em;
  cursor: default;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.5em 4em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.5em;
}

ul.topnav li a:hover {background-color: #79BD9A;}
ul.topnav.responsive li a:hover {background-color: #79BD9A;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:1170px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:1170px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li, ul.topnav.responsive li a {
    float: none;
    display: block;
    text-align: center;
    background-color: #093853;
  }
  ul.topnav li.usuario {
    text-align: left;
    background-color: #0b486b;
  }
}

ul.topnav li.ex, a, button {
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
}


/* CIERRE HEAD */


/*PANELES Y TABLERO*/


.row {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.vertical {
  display: table;
}

#juego{
    width: 100%;
    margin: 20px auto 0;
    display: block;
}

.panel{
    width: 300px;
    height: 500px;
    border: 3px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    background-color: rgba(0,0,0,0.85);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width:1200px) {
  .panel {
    margin: 0 20px;
  }
}

.panel h1 {
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 7px 0;
}

.panel .img-per {
  width: 80px;
  height: 200px;
  margin: 0 20px 0 5px;
}

.panel .img-per img {
  width: 100%;
  height: 100%;
  margin-left: 5px;
}

.j1, .j2, .j3, .j4 {
  height: 50%;
}

/****************** BARRAS ******************/

#myProgress_vida {
  position: relative;
  text-align: center;
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #19a67c;
}

#myProgress_energia {
  position: relative;
  text-align: center;
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border: 1px solid #b70844;
  margin-bottom: 15px;
}

#myBar_vida {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #19a67c;
}

#myBar_energia {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #b70844;
}

#label_vida, #label_energia {
  position: relative;
  line-height: 20px;
  color: #090b0e;
  font-family: 'Righteous', cursive;
}

/**************** FIN BARRAS ****************/

.valores-per {
  text-align: left;
  width: 185px;
  vertical-align: middle;
  display: table-cell;
  padding-right: 5px;
}

.valores-per h2 span {
  float: right;
  color: #1795de;
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}

.valores-per h2 {
  font-size: 1em;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
  margin: 5px 0;
}

#tablero{
    background-image: url("/images/tablero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid black;
    border-radius: 3px;
}

#tablero #contPlay { 
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    -webkit-animation-name: mostrarTablero;
    -webkit-animation-duration: 1.5s;
    animation-name: mostrarTablero;
    animation-duration: 1.5s;
}

#tablero #Btn_play {
    box-shadow: 0 1px 185px 0 rgba(255, 255, 255, 0.2), 0 -3px 185px 0 rgba(255, 255, 255, 0.19);
    border-radius: 100%;
}

.imgTablero {
    width: 100%;
    height: 100%;
}

#panel3 {
    width: 500px;
    height: 100px;
    border: 3px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin: 20px auto 20px;
    display: inline-block;
    background-color: rgba(0,0,0,0.85);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#Btn_play:hover {
    box-shadow: 0 1px 185px 0 rgba(255, 255, 255, 0.2), 0 -3px 185px 0 rgba(255, 255, 255, 0.19);
}

.movimientos {
   height: 50%;
}

.ataques {
   height: 50%;
}


/* ################################ */
/* # MODAL - PERSONAJES pa elegir # */
/* ################################ */


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px;}
