* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/* HEAD */

#menu {
    height: auto;
    width: 100%;
    
}

#menu ul {
    position: static;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0B486B;
    text-align: center;   
}

#menu ul .usuario {
	float: left;
	background-color: #3B8686;
}

#menu ul li {
    display: inline-block;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-right: 4em;
    padding-left: 4em;
    color: white;
    font-size: 1.5em;
    float: right;
}

#menu ul li, a {
    font-family: 'Luckiest Guy', cursive;
    text-transform: uppercase;
}

#menu ul li a {
    text-decoration: none;
    color: white;
}

#menu a:hover li {
    background-color: #79BD9A;
}
/* CIERRE HEAD */

/*PANELES Y TABLERO*/

#juego{
    width: 100%;
    margin: 50px auto 0;
    display: block;
}

.row {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.panel{
    width: 20%;
    height: 500px;
    border: 3px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    background-color: rgba(0,0,0,0.85);
    color: white;
}

#tablero{
    background-image: url("/images/tablero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 3px solid black;
    border-radius: 3px;
}

.imgTablero {
    width: 100%;
    height: 100%;
}

#panel3 {
    width: 500px;
    height: 50px;
    border: 3px solid black;
    border-radius: 3px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    background-color: rgba(0,0,0,0.85);
    color: white;
}